* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  background-color: white;
  margin: 20px;
}
.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: translateX(-50px);
  transform: translateY(-50px);
}
.container {
  background-color: #1787e0;
  color: white;
  padding: 15px 10px;
  border-radius: 8px;
}
p {
  font-size: 18px;
  margin: 0 0 15px;
}
form {
  display: flex;
  justify-content: space-between;
}
form input[type="number"] {
  outline: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  caret-color: #1787e0;
  padding: 10px;
}
form .button {
  background-color: #27ae60;
  color: white;
  font-size: 16px;
  padding: 8px 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.price {
  width: fit-content;
  margin-top: 15px;
}
.price div {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 2px;
}
