* {
box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
  padding: 0;
  margin: 0;
}
h1 {
  background-color: white;
  margin-top: -10px;
}
.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: translateX(-50px);
  transform: translateY(-50px);
}
.container {
  width: fit-content;
  background-color: #1787e0;
  color: white;
  padding: 15px 13px;
  border-radius: 8px;
}
p {
  font-size: 18px;
  margin: 0 0 15px;
  
}
form {
  display: flex;
  justify-content: space-between;

}
form input[type="number"] {
  outline: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  caret-color: #1787e0;
  padding: 10px;
}
form .button {
  background-color: rgb(82, 176, 114);
  color: white;
  font-size: 16px;
  padding: 8px 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
.price {
  width: fit-content;
  margin-top: 15px;
}
.price div {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 2px;
}
