h1 {
  background-color: white;
  text-align: center;
  margin: 20px;
}
.program {
  width: 400px;
  margin: auto;
}
@media (max-width: 768px) {
  .program  {
    width: fit-content;
  }
}
.container {
  width: fit-content;
  background-color: #1787e0;
  color: white;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
}
p {
  font-size: 18px;
  margin: 0 0 10px;
}
/* p span {
  font-weight: bold;
} */
form {
  display: flex;
  justify-content: space-between;
}
form input {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  outline: none;
  caret-color: #1787e0;
  padding: 10px;
}
form .button {
  background-color: rgb(82, 176, 114);
  color: white;
  margin-left: 5px;
  font-weight: bold;
}
.price {
  width: fit-content;
  margin-top: 10px;
}
.price div {
  font-size: 20px;
  /* font-weight: bold; */
  margin-top: 6px;
}
